/*--- Página de estilo ---*/
body
   { 
     background-color: #cccccc;
     border: 5px black double;
   }
h1
   {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-shadow: 2px 2px 2px rgb(68, 68, 68);
   }
h2
   {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
h3
   {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
p
   {
     color: rgb(41, 36, 36); font-style: italic; font-weight: bold;
   }
img
   {
     border-radius: 60px;
   }